html,
body {
    margin: 0;
    display: table;
    height: 100%;
    width: 100%;
    font-family: Arial;
}

body {
    background: #444;
    padding: 0px;
    margin: 0px;
}

.container-fluid {
    margin: 0;
    padding: 0;
}
